<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="/uploadform" id="uploadCSV">Upload CSV File</a></li>
            <li><a href="/models" id="view3DModel">View 3D Model</a></li>
            <li><a href="/anomalies_page" id="anomalies">Anomalies</a></li>
            <li>
                <a id="analyzeGraphs">Analyze Using Graphs</a>
                <ul class="dropdown">
                    <li><a href="/acceleration" class="graphOption">Acceleration</a></li>
                    <li><a href="/gyro" class="graphOption">Gyroscope</a></li>
                    <li><a href="/anomalies_graph" class="graphOption">Anomalies</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>